body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #222831;
    font-family: sans-serif;
    margin: 0;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

main{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.line1{
    border-radius: 2px;
}

.hidden{
    display: none !important;
}

.settings-btn{
    margin: 20px;
}

.main_button{
    border-radius: 50%;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    display: block;
    width: 80px;
    margin: 60px auto;
    
   &:hover .delay1 {
      animation: waves 2.5s linear;
      animation-delay: .1s;
    }
    
    &:hover .delay2 {
      animation: waves 2.5s linear .7s forwards,
    }
    
    &:hover .delay3 {
      animation: waves 2.5s linear 1.3s forwards;
    }
    
    &:hover .delay4 {
      animation: waves 2.5s linear 1.9s forwards;
    }
}

.button{
    transition: 0.5s;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-width: 5px;
    box-shadow: 0px 0px 10px 5px rgb(4, 183, 203);
    border: none;
    background-color: #00adb5;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-left: -100px;
    &:hover .delay1 {
        animation: waves 2.5s linear;
        animation-delay: .1s;
      }
      
      &:hover .delay2 {
        animation: waves 2.5s linear .7s forwards,
      }
      
      &:hover .delay3 {
        animation: waves 2.5s linear 1.3s forwards;
      }
      
      &:hover .delay4 {
        animation: waves 2.5s linear 1.9s forwards;
      }
}

.button:hover{
    transition: 0.5s;
    background-color: #eeeeee;
    box-shadow: 0px 0px 10px 5px #eeeeee;
    width: 325px;
    height: 325px;
    z-index: 10;
    animation: bloop 1s linear;
}

#play{
    width: 100px;
    height: 100px;
    margin-right: -15px;
    transition: 0.5s;
    fill: #eeeeee;
    z-index: 20;
}

.button:hover #play{
    width: 125px;
    height: 125px;
    fill: #00adb5;
    z-index: 20;
}

.button:hover .circle{
    transition: 1s ease;
    background: #eeeeee;
}
.circle {
    display: flex;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: #00adb5;
    margin: 10px;
    transition: 1 ease;
    position: fixed;
    z-index: -10;
}
  
@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes bloop {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

#menu-button{
    width: 30px;
    height: 3 0px;
    display: flex;
    justify-content: start;
    align-items: start;
    fill: #00adb5; 
    
}

.settings{
    display: flex;
    flex-direction: row;
    gap: 30px
}

.vertical-strip{
    width: 1px;
    background-color: #656e79;
    height: 1433px;
}

.main-block{
    width: 40vw;
    border-width: 10px;
    border-color: #eeeeee;
    display: flex;
    flex-direction: column;
    
}

.topics{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 20px;
}

.sound-topic, .programs-topic, .sites-topic, .scommands-topic{
    color: #eeeeee;
    font-size: 15px;
}

.settings-programs-list, .settings-sites-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.settings-programs-item, .settings-sites-item{
    transition: 0.5s;
    transform: scale3d(1, 1, 1);
    background-color: #00adb5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
}

.supercommands{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.settings-scommands-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-scommand > button{
    background-color: #00adb5;
    color: #eeeeee;
    border-width: 0;
    border-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
    color: #222831;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}


.settings-scommands-item{
    transition: 0.5s;
    transform: scale3d(1, 1, 1);
    background-color: #00adb5;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-width: 1px;
    border-color: #eeeeee;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
}

.settings-programs-item:hover, .settings-sites-item:hover, .settings-scommands-item:hover{
    transition: 0.5s;
    transform: scale3d(1.05, 1.05, 1.05);
    background-color: #008e96;
}

.program-name, .site-name, .scommand-name{
    color:#222831;
    font-weight: 600;
}

.delete-icon > img, .change-icon > img{
    width: 20px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #eeeeee;
    cursor: pointer;
}

h1, h2{
    color: #eeeeee;
}

.add-program > button, .add-site > button{
    background-color: #00adb5;
    color: #eeeeee;
    border-width: 0;
    border-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
    color: #222831;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.add-program-modal, .add-site-modal, .add-scommand-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 200px;
    background-color: #222831;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.add-new-subcommand{
    background-color: #00adb5;
    color: #eeeeee;
    border-width: 0;
    border-color: #eeeeee;
    border-radius: 5px;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
    color: #222831;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
}

.new-program-name{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-width: 0;
    border-color: #222831;
    box-shadow: 0 0 5px black;
    margin-top: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #4d5a6e

}
.path-choose{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border-width: 0;
    border-color: #eeeeee;
    box-shadow: 0 0 5px black;
    margin-top: 10px;
    padding-left: 10px;
}

.close-modal{
    color: #eeeeee;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: end;
}
.close-modal-button{
    cursor: pointer;
}
.subcommands{
    display: flex;
    flex-direction: column;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          